.overlay {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	
  margin: 0;
  display: flex;
	justify-content: center;
  place-items: center;
  min-width: 320px;
}
