:root {
}

.search-container {
  position: relative;
}

.suggestions-container {
  position: absolute;
  width: 100%;
	max-height: 300px;
	overflow: scroll;
}


.seperator {
  width: 90%;
  height: 1px;
  background-color: grey;
  margin: auto;
}


.search-input {
  width: 350px;
}
