.x-remove {
	--offset: -10px;
	--size: 30px;
	right: var(--offset);
	top: var(--offset);
	width: var(--size);
	height: var(--size);
	/* background-color: black !important; */
	border-radius: 1000px !important;
	opacity: 0;

	transition-property: opacity color;
	transition-duration: 50ms;
	transition-timing-function: ease-in-out;
}

.x-remove:hover {
	background-color: var(--accent-dark-color);
	color: white;
}
